/ejemplos-clases-constructores/EjemplosClasesConstructores/nbproject/private/
/ejemplos-clases-constructores/EjemplosClasesConstructores/build/
/ejemplos-clases-constructores/EjemplosClasesConstructores/dist/
/ejemplos-objetos/EjemplosObjetos/nbproject/private/
/ejemplos-clases-constructores-objetos/EjemplosClasesConstructores/build/
/ejemplos-clases-constructores-objetos/EjemplosClasesConstructores/dist/
/ejemplos-clases-constructores-objetos/EjemplosClasesConstructores/nbproject/private/
